body {
  background-image: url("https://image-resizer.cwg.tw/resize/uri/https%3A%2F%2Fi.cheers.com.tw%2Farticle%2F202002%2Farticle-5e539484697a7.jpg/?w=810&h=543&fit=fill");
  background-repeat: repeat-x, no-repeat;
  background-size: 120%;
}
