/* htag */
h1 {
  font-family: "Press Start 2P", cursive;
  font-weight: 50;
}

/* body {
  background-color: thistle;
}
/* HTML
section {
  background-color: yellow;
} */

/* CLASS  */
.border {
  margin-bottom: 2rem;
}

/* ID */
/* specific */
/* #image {
  border: 20px solid whitesmoke;
} */

.image-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

img {
  object-fit: cover;
  object-position: 35%;
  width: 100%;
  height: 100%;
}

a {
  width: 100px;
  height: calc(100vh - 5rem);
  margin: 0 2rem 2rem 2rem;
  filter: grayscale(100%);
  opacity: 50%;
  overflow: hidden;
}

/* a: focus for mobile */
a:hover,
a:focus {
  transform: scale(1.2);
  transition: all 2s ease-in-out;
}

a:hover {
  filter: grayscale(0%);
  opacity: 100%;
}

img:hover {
  transform: scale(1.2);
  transition: all 2s ease-in-out;
}
